
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  margin:20px;
}
.container{
  background-color: rgb(191, 222, 251);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}
button{
  background-color: rgb(47, 195, 21);
  color:white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 16px;
  margin: 10px;
}
.item{
  border: 1px solid black;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-btn{
  width: max-content;
}
ul{
  margin: 20px;
  list-style: none;
  padding: 10px;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}